.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #E4DDD9;
  color: #fff;
}

.navLinks a {
  color: #928f8f;
}

.navbarBrand 
{
	display: flex;
	align-items: center;
	font-weight: bold;
	gap:20px;
}

.logo {
  font-size: 22px;
}

.aLink {
	color:#A75E31;
}

.menu {
  display: flex;
  font-size: 22px;
  gap: 3em;
	font-family: 'worksans-extralight','work sans',sans-serif;;
	text-transform: capitalize;
	min-width: 500px;
}

.Link:hover {
	color:#ac7553;

  border-radius: 5px;
  transition: 0.3s ease;
}

.menu li {
  padding: 5px 14px;
}

.logo {
    height:30px
}

a {
  text-decoration: none;
}
